
:root {
    --main-color:134, 187, 216; /* #86BBD8  this is the hex i need the rdb to get the rgba*/
    --secondary-color:#224159;
    --accent1-color: #BCD8AC; 
    --accent2-color:#E6D6C6; 
}

*{
     max-width: 1600px;
     font-family:Georgia, 'Times New Roman', serif;
}

.splash-regular {
    font-family: "Splash", system-ui;
    font-weight: 400;
    font-style: normal;
}

header{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 2fr ;
    background-color: rgb(var(--main-color));
    font-size: 14pt;
    margin: 15px;
    border: solid var(--secondary-color);
}

header img{
    grid-column: 1/2 ;
    margin: 15px;;
    border: solid var(--secondary-color);
    padding: 0;
}

header nav{
    grid-column: 2/3 ;
    color: var(--secondary-color);
}

header nav a{
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--secondary-color);
    border: solid var(--secondary-color);
    text-decoration: none;
    font-size: 16pt;
    background-color: white;
}

.hero {
    position: relative;
    margin: 15px;
    border: solid var(--secondary-color);
}  

.hero img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
}

.hero article img{
    float:  right;
    height: 200px;
    width: auto;
    border: solid var(--secondary-color);
    padding: 0;
}

.hero article {
    position: absolute;
    top: 520px;
    right: 100px;
    height: 200px;
    width: auto;  
    background-color: rgba(var(--main-color), 0.9);
    padding: 30px;
    margin: 20px;
    color: var(--secondary-color);
    font-size: 14pt;
    
}

.hero h1{
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
    font-family: splash, Impact, 'Arial Narrow Bold', serif;
    font-size: 45pt;
    color: var(--secondary-color);
    background-color: rgba(var(--main-color), 0.9);
    text-align: center;
}

.history{
    display: grid;
    place-items: center;
    grid-template-columns:40% 20% 40%;
    grid-template-rows: 25% 75%;
    border: solid var(--secondary-color);
    margin: 15px;
    background-color:var(--accent2-color);
}

.history img{
    height: 200px;
    width: auto;
    grid-column: 2/3;
    grid-row-start: 2;
    margin: 15px;
    border: solid var(--secondary-color);


}

.history p1 {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 15px;
}  

.history p2 {
    margin: 15px;
    grid-column: 3/4;
    grid-row: 2/3;
    
}

.history h2{
    grid-column: 2/3;
    grid-row: 1/2;
    color:var(--secondary-color);
}

.adventure {
    display: grid;
    place-items: center;
    border: solid var(--secondary-color);
    margin: 15px;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: 20% 60% 20%;
    background-color:var(--accent2-color);
}

.adventure h2{
    grid-column: 1 / -1;
    grid-row: 1;
    text-align: center;
    margin: 0;
    color:var(--secondary-color);
    padding: 5px;
}
.adventure figcaption{
    grid-column: span 1;
    grid-row: 3/4;
}

.adventure img{
    grid-column: span 1;
    grid-row: 2/3;
    margin: 20px;
    height: 120px; 
    width: auto;
    border: solid var(--secondary-color);
}

footer{
    display: grid;
    place-items: center;
    grid-template-columns:70% 10% 10% 10%;
    grid-template-rows: 70% 30%;
    border: solid var(--secondary-color);
    margin: 15px;
    background-color: rgb(var(--main-color));
}

.facebook{
    grid-column: 2/3;
    grid-row: 2/3;
}

.facebook_logo{
    grid-column: 2/3;
    grid-row: 1/2;
}

.twitter{
    grid-column: 3/4;
    grid-row: 2/3;
}

.twitter_logo{
    grid-column: 3/4;
    grid-row: 1/2;
}

.insta{
    grid-column: 4/5;
    grid-row: 2/3;
}

.insta_logo{
    grid-column: 4/5;
    grid-row: 1/2;
}

footer p{
    grid-column: 1/2;
    grid-row: 2/3;



}

footer a, img{
    text-decoration: none;
} 
