@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

:root {
--heading-background-color:steelblue;
--padding: 1rem;
--margin: 1rem;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: Roboto, Helvetica, sans-serif;
}

nav{
    background-color:steelblue; 
    padding:10px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

nav a {
    color:white;  
    display:block; 
    padding: 20px;
    text-decoration: none;
}


h1 {
    color:steelblue;
    padding: .5rem;
    font-family: 'Rock Salt', 'Bradley Hand', cursive;
    border-bottom: solid  steelblue;
}

main img{
    float: right;
    width: 150px; 
    height: auto; 
    border: 1px solid steelblue; 
    padding: 2px; 
    box-shadow: 0 0 30px gray;
    margin:0 0 1rem 1rem;
}

p{
    padding: 0;
    margin: 1rem;
    font-size: 14pt;
}

main{
    grid-column: 2/3;
    margin: 15px;
   
}

aside h2 {
    position: absolute; 
    top: 50px;
    right: 60px;
}

aside {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column wrap;
    position: relative;
    width:20rem ;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img{
    width: 200px;
    height: auto;
}

footer{
    margin-top: 15px;
    border-top:1px solid #000;
    text-align: center;
}

header, footer, .grid{
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}


.box {
margin: var(--margin);
border:1px solid rgba(0, 0, 0, 0.1) ;
padding: var(--padding);
background-color: rgb(238, 241, 220);
color: black;
}

.indent{
    padding-left: 2rem;
}


/* Class Selectors */
/* Universal	 * { ... }	Applies to all elements
    Type	    h1 { ... }	Applies to all <h1> elements
    Class	    .red { ... }	Applies to all elements with the "red" class value
    ID	        #red { ... }	Applies to the one element with the "red" id value */